.logo-upload {
  width: 300px;
  border: 1px solid #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 7px;
  .logo-preview {
    border-radius: 8px;
    background-color: rgba(99, 0, 255, 0.1);
    width: max-content;
  }
}

.container-grid {
    width: 600px;
}
