.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  .paper {
    width: 500px;
    padding: 20px;
    .logo {
      height: 70px;
      width: 200px;
    }
    .title {
      text-align: left;
    }
    .signDetails {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .bottom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      text-decoration: underline;
    }
  }
}
