.login {
  background-color: #f5f5f5;
  .login-block {
    height: 692px;
    width: 620px;
    background: #6300ff;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 35px;
    // padding: 20px;
    .circles-img {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      margin-bottom: 35px;
    }
    .login-text-box {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .login-card {
    height: 100vh;
    width: 400px;
    margin-left: 130px;

    .login-logo-box {
      display: flex;
      justify-content: center;
      .logo {
        height: 40px;
        width: 140px;
      }
    }

    .title {
      text-align: left;
      font-weight: 500;
      color: #100086;
    }

    .loginDetails {
      display: flex;
      flex-direction: column;
      gap: 33px;
      width: 100%;
      > div {
        width: 100%;
        > div {
          width: 100%;
        }
      }
    }
  }
}
