.main {
  background: rgb(88, 66, 247);
  background: linear-gradient(
    180deg,
    rgba(88, 66, 247, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
  min-height: 130vh;
  .cross-card {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .register-card {
    display: flex;
    justify-content: center;
    align-items: center;

    .paper {
      width: 500px;
      padding: 20px;
      .logo {
        height: 70px;
        width: 200px;
      }
      .title {
        text-align: left;
        font-weight: 500;
        color: #100086;
      }
      .signDetails {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .bottom {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}
