.register {
  min-height: 130vh;
  
  .register-container {
    display: flex;
    padding: 40px;
    background: rgb(88, 66, 247);
    background: linear-gradient(
      180deg,
      rgba(88, 66, 247, 1) 0%,
      rgba(9, 9, 121, 1) 100%
    );
    .register-img {
      margin-top: 30px;
      & img {
        height: 80%;
        width: 80%;
      }
    }
    .register-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .paper {
      width: 500px;
      padding: 20px;
      border-radius: 16px;
      .logo {
        height: 70px;
        width: 200px;
      }
      .title {
        text-align: left;
        font-weight: 500;
        color: #100086;
      }
      .signDetails {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .bottom {
        margin-top: 20px;
        text-align: center;
      }
    }
  }
  }
  
}
