.list {
  display: flex;
  width: 100%;
  background-color: #EEEEFE;

  .listContainer {
    flex: 11;

    .users {
      background-color: white;
      margin: 30px;
      padding-bottom: 50px;
      .tabs-container {
        padding: 10px;
      }
    }
  }
}
