.profile-stepper {
  display: flex;
  .profile-stepper-container {
    flex: 6;
    .stepper-box {
      width: 100%;
      display: flex;
      justify-content: center;
      .stepper {
        width: 600px;
      }
    }
  }
}
