.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .paper {
    padding: 20px;
    .logo {
      height: 70px;
      width: 200px;
    }
    .title {
      text-align: right;
    }
    .signDetails {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .bottom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
