.reset {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(88, 66, 247);
  background: linear-gradient(
    180deg,
    rgba(88, 66, 247, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );

  .paper {
    width: 500px;
    padding: 20px;
    .logo {
      height: 70px;
      width: 200px;
    }
    .title {
      text-align: left;
      font-weight: 500;
      color: #100086;
    }
    .signDetails {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .bottom {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
