.credentials {
  display: flex;
  .credentials-container {
    flex: 6;
  }
  .credentials-main {
    padding: 20px;
    .switch-paper {
      padding: 20px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
