
.table-head {
    padding: 20px;
    .table-head-para span {
        color: darkmagenta;
    }
}

.token-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-blur {
    height: 50px;
    width: 240px;
    background-image: url("../../assets/images/blur-bg.png");
    .bg-blur-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
}