.table-head {
  padding: 20px;
  .table-head-para span {
    color: darkmagenta;
  }
}

.token-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-blur {
  height: 22px;
  width: 350px;
  background-image: url("../../assets/images/blur-bg.png");
}
